@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: url("../img/bg-guess-the-word.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30rem;
    height: auto;
    background-color: rgb(5, 5, 47);
    text-align: center;
    border-radius: 15px;
}
.logo-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    width: 40%;
    padding: 2.5rem 0rem 2rem 0rem;
}
#scramblle-word {
    width: 87%;
    padding: 1.2rem 0 1.2rem 0;
    background-color: #455265;
    border-radius: 10px;
    color: rgb(165, 165, 185);
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}
p.scramblle {
    font-size: 2rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-weight: bold;
}

.tries-and-mistakes{
    display: flex;
    justify-content: space-around;
    color: rgb(79, 79, 79);
    font-family: 'Sora', sans-serif;
}
#span-mistakes {
    font-size: 1.2rem;
    color: rgb(146, 146, 163);
    font-family: 'Sora', sans-serif;
}
.circles {
    font-size: 1.2rem;
}
.circle-done {
    color: rgb(118, 20, 157);
}

.word-letters {
    display: flex;
    justify-content: center;
    width: 50px;
    padding: 1rem 15rem;
    margin: 1.5rem 0;
    text-align: center;
}

.input {
    text-align: center;
    padding: 1.2rem 2rem 1rem 1rem;
    width: 50px;
    margin-left: 0.5rem;
    border: 2px solid #455265;
    border-radius: 10px;
    background-color: transparent;
}
input::placeholder {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 1rem 1rem 0rem;
}



@media screen and (min-width: 720px) {

  }