@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

* {
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-image: url("../img/bg-guess-the-word.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



@media screen and (min-width: 720px) {

  }